@import 'reset.css';
@import 'grid';
//-----------------------------------------------------------------------------
//   headings             h6     h5       h4     h3       h2       h1
// font sizes    12px,   14px,  16px,    18px,  24px,    36px,    42px,    60px
//   relative  .750em, .875em,   1em, 1.125em, 1.5em, 2.250em, 2.625em, 3.750em
//-----------------------------------------------------------------------------


// Retina image mixin - http://paulstamatiou.com/responsive-retina-blog-development-part-2
// 1.3 ratio because devices like Nexus 7, might as well give them @2x assets too
@mixin image-2x($image, $width: auto, $height: $width) {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
         only screen and (-o-min-device-pixel-ratio: 13/10),
         only screen and (min-resolution: 120dpi) {
    background-image: url($image);
    @if $width != auto {
      // bg-size() is a mixin I use for properly prefixing background-size
      // for webkit, moz, o, ms
      background-size: $width, $height;
    }
  }
}

// Usage. stammy.png is 133px x 133px. stammy@2x.png is 266px x 266px
// background: url('http://turbo.paulstamatiou.com/assets/stammy.png') no-repeat 0 0;
// @include image-2x('http://turbo.paulstamatiou.com/assets/stammy@2x.png', 133px, 133px);

$max-width: 1170px;

$total_columns:   12;     //        //
$total_width:   100%;     // px|100%    // px = fixed, 100% = fluid
$gutter_width:    2.55%;  // px|%     // px = fixed, % = fluid
$container_margin:  auto; // auto|px|%  //

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.mejs-container { margin: 0 auto; }
.mejs-overlay-button { display: none; }

a:hover, button:hover {
  cursor: hand;
  cursor: pointer;
}

body {
  font-family: Gudea;
  color: #858585;

  line-height: 1.2;
  // max-width: $max-width;
  // margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover { text-decoration: underline }
  &.button:hover { text-decoration: none }
}

strong {
  font-weight: 600;
}

h1,h2,h3,
h4,h5,h6 {
  text-rendering: optimizeLegibility;
  margin-bottom: 1.875rem;
}
h1, h2, h3, em {
  color: #414141;
}
h1 { font-size: 2.625rem; }
h2 { font-size: 2.250rem; }
h3 { font-size: 1.5rem; }
.tos h3 { font-size: 1.2rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1rem; }
h6 { font-size: .875rem; }

.blue { color: #33b5e5; }

.tos { line-height: 1.5; }
.tos p { max-width: 75%; display: block; }
p { margin: 0 0 20px }

button, .button {
  display: inline-block;
  background-color: transparent;
  color: #33b5e5;
  font-size: .875em;
  border: 1px solid;
  padding: 5px 40px;
  border-radius: 5px;

  &.white {
    color: #fff;
    &:hover {
      background-color: #fff;
      border-color: #fff;
      color: #33b5e5;
    }
  }

  &:hover {
    background-color: #33b5e5;
    color: #fff;
  }

  &.large {
    font-size: 1.5rem;
    padding: 10px 40px;
  }

  &.xlarge {
    font-size: 2rem;
    padding: 10px 40px;
  }
}

.center {
  @include clearfix();
  @include container();
  max-width: $max-width;
}

.menu {
  a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    line-height: 1rem; // reset

    padding-bottom: 1px;
    border-bottom: 1px solid transparent;

    &:hover {
      text-decoration: none;
      border-bottom-color: rgba(255,255,255,.2)
    }
  }
}

.language {
  text-align: right;

  a {
    display: inline-block;
    margin: 0 .2rem;
    line-height: 1rem; // reset
    padding: 0 8px;

    font-size: .750em;

    &.button {
      border-radius: 3px;
      padding: .25rem .75rem;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

header {
  background-color: #33b5e5;
  padding: 15px 0;
  line-height: 3rem;
  font-size: 14px;

  color: #fff;

  .logo {
    font: 300 2rem Oleo Script;
    &:hover {border-bottom-color: transparent}
  }

  .menu {
    @include column(9);
    @include push(0);
  }

  .language {
    @include column(3);
    @include push(9);
  }
}

footer {
  background-color: #1d1d1d;
  padding: 60px 0 30px;
  font-size: .875rem;

  ul {
    @include clearfix();
    li { @include column(2); } 
    @include generate_grid_positions(li, 2);

    margin-bottom: 80px;

    h6 {
      color: white;
    }
    a {
      display: block;
      font-size: 1rem;
      color: #858585;
      line-height: 1.5;
    }
  }

  hr {
    border: none;
    height: 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin-bottom: 30px;
  }

  .menu {
    @include column(10);
    @include push(0);

    color: #33b5e5;
    a:hover { border-bottom-color: #33b5e5; }

    margin-bottom: 45px;
  }

  .language {
    @include column(2);
    @include push(10);

    a {color: #bbb;}
  }

  .copyright {
    font: .750rem/.875rem Arial, Helvetica, sans-serif;
    @include column(12);
  }
}

section {
  @include clearfix();
  @include container();
  max-width: $max-width;
  div { @include column(6); }
  @include generate_grid_positions(div, 6);
  div {
    margin-bottom: 0 !important;
  }

  padding: 80px 0 60px;
  border-bottom: 1px solid #e8e8e8;

  h1,h2,h3,h4,h5 { margin-bottom: 30px; }
  h6 { margin-bottom: 20px; }
  img {vertical-align: bottom; max-width: 100% }
  .middle {
    display: block;
    margin: 0 auto 20px;
  }
  &.centered {
    text-align: center;
    button { margin: 10px auto 20px }
  }
  &.no-bottom { padding-bottom: 0; }
}

nav {
  $gutter_width: 0;

  a { @include column(4); } 
  @include generate_grid_positions(a, 4);
  border-bottom: 1px solid #eee;

  a {
    display: block;
    padding: 30px 0;
    // color: white;
    text-align: center;
    margin-bottom: 0 !important; // wtf grid, why you do this?

    &:hover, &.active {
      text-decoration: underline;
    }
  }
}

.splash {
  background-color: #33b5e5;
  color: #fff;
  h1, h2, h3 { color: #fff }
  overflow: hidden;
  position: relative;
  padding-top: 2.75rem;

  .button, button {
    display: inline-block;
    border: 1px solid white;
    font-size: 1.5rem;
    padding: .75rem 1rem;
    border-radius: 5px;

    &.swag {
      background-color:white;
      border-color: white;
      color: #33b5e5;
    }
  }

  .center {
    .text {
      @include column(7);
      @include push(0);
    }
    .preview {
      @include column(5);
      @include push(7);

      margin-bottom: -30%;
    }
    & > div { padding: 0 2rem; }
    .text { padding-top: 3rem }
    img { width: 100%; }

    .actions {
      margin: 3rem 0;
      .button, button { margin-right: .75rem }
    }
  }

  video {
    display: block;
    margin: 0 auto;

    background:transparent url('/poster.png') no-repeat 0 0; 
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover; 
  }
}

.browser {
  text-align: center;
  .center {
    padding: 60px 0;
    border-bottom: 1px solid #e8e8e8;

    .right, .left {
      width: 27.5%;
    }

    .central {
      width: 45%;
    }

    div {
      display: inline-block;
      padding: 1rem;
      vertical-align: middle;
      img {
        max-width: 100%;
        box-shadow: 0 2px 15px rgba(0,0,0,.25);
        border-radius: 3px;
      }
    }
  }
}

.demo {
  padding-bottom: 0;
  position: relative;

  max-height: 600px;

  .center {
    .text {
      @include column(7);
      @include push(5);
    }
    .preview {
      @include column(5);
      @include push(0);
    }
    & > div { padding: 1.5rem 2rem 0; }
    .text { padding-top: 4.5rem }
  }

  &.demo:nth-child(odd) {
    .text {
      @include column(7);
      @include push(0);
    }
    .preview {
      @include column(5);
      @include push(7);
    }
  }
}

.columnar {
  //padding: 30px 0 60px;
  text-align: center;

  .features {
    li { 
      @include column(4);
      padding: 0 20px;
     } 
    @include generate_grid_positions(li, 4);

    button { margin: 0 auto }
    p { font-size: 18px }
    img { margin: 30px 0 50px }
  }
}

.signup {
  padding: 80px 0;
  text-align: center;
  background: #111;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  span {
    color: #515151;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    vertical-align: middle;
  }
  button {
    margin-left: 2.3rem;
    vertical-align: middle;
    color: #fff;
  }
}

.about {
  section {
    @include container();
    padding-top: 30px;

    div { @include column(4); }
    @include generate_grid_positions(div, 4);
    div {
      img { margin: 30px 0 }
      text-align: center;
    }
  }
}

/* media queries */
$max-width: 1170px;

$total_columns:   2;     //        //
$total_width:   100%;     // px|100%    // px = fixed, 100% = fluid
$gutter_width:    2.55%;  // px|%     // px = fixed, % = fluid
$container_margin:  auto; // auto|px|%  //

#signup input {
  font-size: 24px;
  padding: 4px 8px;
  color: #0099cc;
}

@media screen and (max-width: 1182px) {
  #content section {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (max-width: 400px) {
  nav {
    display: none;
  }

  section {
    $total_columns: 1;
    $gutter_width: 2%;
    $container_margin: 5%;
    @include container();
    @include clearfix();

    &.promo img { display: none; }
    padding: 32px 0;
    text-align: center;

    div {
      @include column(1);
    }

    button, a {
      margin: 0 auto;
    }

    @include generate_grid_positions(div, 1);
  }

  header {
    .menu {
      margin: 8px 0;
      width: 100%;

      a {
        width: 100%;
        margin-bottom: 2px !important;
        text-align: center;
        font-size: 20px;
      }
    }

    .language { display: none; }
  }

  .columnar {
    $total_columns: 1;
    $gutter_width: 2%;
    @include clearfix();

    .features {
      li {
        @include column(1);
        padding: 0 20px;
      }

      @include generate_grid_positions(li, 1);
    }
  }

  footer {
    $total_columns: 2;
    $gutter_width: 2%;
    $container_margin: 5%;

    ul {
      @include clearfix();
      li { @include column(1); }
      @include generate_grid_positions(li, 1);
    }

    hr {
      margin-bottom: 20px;
    }

    .menu, .language { display: none; }
  }
}
