section.centered.no-bottom(style="padding: 60px 0;")
  h6 404
  h1 That page does not exist ;(
  h3 Official launch early January 2014
  a.button(href="https://app.adefy.com/signup" target="_blank")
    button.large Sign Up
