.about.center
  .sidebar
    a(href="") Our team
    a(href="") Press room
  .main
    .subgrid
      section.full
        h6 Mission
        h1 Who we are, and why we do, what we do?
        h3 
          | We believe in access to technology for everyone and everywhere. Our products focus on 
          | bridging the gap between businesses and consumers, devices and platforms. We believe 
          | that IT solutions.
        div
          img(src="/img/icons/link.png" data-at2x="/img/icons/link@2x.png")
          h3 Simplicity
          h4
           | Achieving innovation will have its 
           | challenges in terms of efficiency and 
           | simplicity. Brave attempts have failed 
           | by overlooking the rich diversity that 
           | exists in our world
        div
          img(src="/img/icons/diamond.png" data-at2x="/img/icons/diamond@2x.png")
          h3 Innovation is key
          h4
           | This goal requires a completely new 
           | of thinking. Current solutions simply 
           | extend pre-existing ones, leading to
           | endless trail of Achieving innovation


        div
        div
        div
          img(src="/img/icons/speech.png" data-at2x="/img/icons/speech@2x.png")
          h3 Cooperation
          h4
           | We focus on working close together 
           | with clients and consumers, 
           | continuously reflecting and 
           | requesting detailed feedback

        div
          img(src="/img/icons/people.png" data-at2x="/img/icons/people@2x.png")
          h3 Team
          h4
           | We are Simplicity. We are Innovation. 
           | We are Teamwork. We are
           | Adefy!
    .subgrid
      section.full
        h6 Team
        h1 Meet us
        h3 Monitor your dog’s activity and rest week-to-week, ensuring they’re getting enough of.
        div
          img(src="/img/icons/mail.png" data-at2x="/img/icons/mail@2x.png")
          h3.blue support@adefy.eu
          h4 Achieving innovation
        div
          img(src="/img/icons/mail.png" data-at2x="/img/icons/mail@2x.png")
          h3.blue developer@adefy.eu
          h4 Achieving innovation
        div
          img(src="/img/icons/mail.png" data-at2x="/img/icons/mail@2x.png")
          h3.blue press@adefy.eu
          h4 Achieving innovation