.location

.about.center

  section
    h6 About
    h1 Talk to us
    h4 Send an email if you need help integrating our SDK, building an engaging creative, or just want to say hello!
    div
      i.fa.fa-envelope-o.mail
      a(href="mailto:support@adefy.com")
        h3.blue support@adefy.com
      h4 General Inquiries
    div
      i.fa.fa-envelope-o.mail
      a(href="mailto:developer@adefy.com")
        h3.blue developer@adefy.com
      h4 API &amp; SDK Support
    div
      i.fa.fa-envelope-o.mail
      a(href="mailto:press@adefy.com")
        h3.blue press@adefy.com
      h4 Say hello!

  section.team
    h6 Team

    .images
      div
        img(src="/img/team/cris.jpg")
        h4 Cris Mihalache
        h6 Project Director
        span.links
          a(href="mailto:cris@adefy.com" target="_blank"): i.fa.fa-envelope-o
          a(href="https://twitter.com/f3rno" target="_blank"): i.fa.fa-twitter
          a(href="http://at.linkedin.com/pub/cris-mihalache/57/2a7/229/" target="_blank"): i.fa.fa-linkedin
      div
        img(src="/img/team/manu.png")
        h4 Emanuel Cinca
        h6 Marketing Manager
        span.links
          a(href="mailto:manu@adefy.com" target="_blank"): i.fa.fa-envelope-o
          a(href="https://twitter.com/emanuelc16" target="_blank"): i.fa.fa-twitter
          a(href="https://at.linkedin.com/in/emanuelcinca" target="_blank"): i.fa.fa-linkedin
      div
        img(src="/img/team/corey.jpg")
        h4 Corey Powell
        h6 Backend Developer
        span.links
          a(href="mailto:corey@adefy.com" target="_blank"): i.fa.fa-envelope-o
          a(href="https://twitter.com/IceDragon200" target="_blank"): i.fa.fa-twitter
      div
        img(src="/img/team/tt.jpg")
        h4 Thomas Tiroch
        h6 Finance
        span.links
          a(href="mailto:thomas.tiroch@spectrumit.eu" target="_blank"): i.fa.fa-envelope-o
          a(href="https://twitter.com/Tw1ceT" target="_blank"): i.fa.fa-twitter
          a(href="https://at.linkedin.com/in/thomastiroch" target="_blank"): i.fa.fa-linkedin
          a(href="https://www.xing.com/profile/Thomas_Tiroch" target="_blank"): i.fa.fa-xing
