.about.center

  section
    h6 Team
    h1 Talk to us
    h3 Send an email if you need help integrating our SDK, building an engaging creative, or just want to say hello!
    div
      img(src="/img/icons/mail.png" data-at2x="/img/icons/mail@2x.png")
      a(href="mailto:support@adefy.com")
        h3.blue support@adefy.com
      h4 General Inquiries
    div
      img(src="/img/icons/mail.png" data-at2x="/img/icons/mail@2x.png")
      a(href="mailto:developer@adefy.com")
        h3.blue developer@adefy.com
      h4 API &amp; SDK Support
    div
      img(src="/img/icons/mail.png" data-at2x="/img/icons/mail@2x.png")
      a(href="mailto:press@adefy.com")
        h3.blue press@adefy.com
      h4 Say hello!

  section
    h6 Imprint

    h2 Adefy Mobile Advertising Network
    h4
      | office@adefy.com
      br
      | www.adefy.com
    br
    h2 Spectrum IT Solutions GmbH
    h4
      | office@spectrumit.eu
      br
      | www.spectrumit.eu
    br
    h4
      | Firmensitz: Wien
      br
      | Firmenbuchgericht: Handelsgericht Wien
      br
      | Firmenbuchnummer: 393588g
    br
    h4
      | Hedwiggasse 2 / Top 26
      br
      | A-1020 Wien
