.about.center
  .sidebar
    a(href="/about") Our Mission
    a(href="/imprint") Imprint
  .main
    .subgrid
      section.full
        h6 Mission
        h1 Redefining mobile ads
        h3
          | We believe in enabling advertising that cultivates user experiences.
          | Existing ad formats are obtuse, and fit in poorly with mobile use
          | patterns. The web has and is evolving dramatically, and content
          | delivery needs to reflect this.
        div.details
          img(src="/img/icons/link.png" data-at2x="/img/icons/link@2x.png")
          h3 Organic
          h4
           | Advertisments appear in chains of interaction on mobiles, and we
           | believe they shoud fit in seamlessly.
        div.details
          img(src="/img/icons/diamond.png" data-at2x="/img/icons/diamond@2x.png")
          h3 Quality
          h4
           | Mobile advertising, as it exists today, values raw volume. We believe
           | the quality of individual impressions vital to successful advertising.

        div.details
          img(src="/img/icons/people.png" data-at2x="/img/icons/people@2x.png")
          h3 User Experience
          h4
           | Flow is precious, as is screen space. Quality of user experience
           | comes before all else in our approach to creative delivery.

    .subgrid
      section.full
        h6 Team
        h1 Talk to us
        h3 Send an email if you need help integrating our SDK, building an engaging creative, or just want to say hello!
        div
          img(src="/img/icons/mail.png" data-at2x="/img/icons/mail@2x.png")
          a.button(href="mailto:support@adefy.com")
            h3.blue support@adefy.com
          h4 General Inquiries
        div
          img(src="/img/icons/mail.png" data-at2x="/img/icons/mail@2x.png")
          a.button(href="mailto:developer@adefy.com")
            h3.blue developer@adefy.com
          h4 API &amp; SDK Support
        div
          img(src="/img/icons/mail.png" data-at2x="/img/icons/mail@2x.png")
          a.button(href="mailto:press@adefy.com")
            h3.blue press@adefy.com
          h4 Say hello!
