.location

.about.center

  section
    h6 About
    h1 Talk to us
    h4 Send an email if you need help integrating our SDK, building an engaging creative, or just want to say hello!
    div
      i.fa.fa-envelope-o.mail
      a(href="mailto:support@adefy.com")
        h3.blue support@adefy.com
      h4 General Inquiries
    div
      i.fa.fa-envelope-o.mail
      a(href="mailto:developer@adefy.com")
        h3.blue developer@adefy.com
      h4 API &amp; SDK Support
    div
      i.fa.fa-envelope-o.mail
      a(href="mailto:press@adefy.com")
        h3.blue press@adefy.com
      h4 Say hello!

  section.team
    h6 Team

    .images
      div
        img(src="/img/team/cris.jpg")
        h4 Cris Mihalache
        h6 Chief Rocka
        span.links
          a(href="mailto:"): i.fa.fa-envelope-o
          a(href=""): i.fa.fa-twitter
          a(href=""): i.fa.fa-linkedin
      div
        img(src="/img/team/manu.png")
        h4 Emanuel Cinca
        h6 Mr. Funke
        span.links
          a(href="mailto:"): i.fa.fa-envelope-o
          a(href=""): i.fa.fa-twitter
          a(href=""): i.fa.fa-linkedin
      div
        img(src="/img/team/speed.jpg")
        h4 Blaž Hrastnik
        h6 The Fresh Prince
        span.links
          a(href="mailto:"): i.fa.fa-envelope-o
          a(href=""): i.fa.fa-twitter
      div
        img(src="/img/team/corey.jpg")
        h4 Corey Powell
        h6 Big Daddy Kane
        span.links
          a(href="mailto:"): i.fa.fa-envelope-o
          a(href=""): i.fa.fa-twitter
