nav: .center
  a(href="#campaigns") Next-Gen Campaigns
  a(href="#ad-generation") Realtime Ad Generation
  a(href="#delivery") GLAd Customization

section.promo#campaigns
  div
    h6 Advertisers
    h1 Customizable campaigns
    h3 Easily deliver your content to receptive users
    h4
      | Track your campaign performance and adjust settings to maximize your
      | return on investment. For information about our ad formats and authoring
      | tools, check our technology page.
    a(href="/technology")
      button Show me more
  div
    img(src="/img/AdvertisersNextGenCampaign.png" data-at2x="/img/2x/AdvertisersNextGenCampaign.png")

section.promo.no-bottom#ad-generation
  div
    img(src="/img/AdvertisersRealTime.png" data-at2x="/img/2x/AdvertisersRealTime.png")
  div
    h6 Advertisers
    h1 Realtime ad generation
    h3
      | Have a large product database and want to connect it to our network?

    h4
      | You don’t have to create an ad for each product. We can generate and serve
      | ads with your data, according to a few rules and guidelines you set.
      | <br>
      | <br>
      | Contact us for more information.

section.promo#delivery
  div
    img(src="/img/AdvertisersRTB.png" data-at2x="/img/2x/AdvertisersRTB.png")
  div
    h6 Advertisers
    h1 GLAd Customization
    h3
      | Our GLAds are optimized on the fly to fit in with publishers
    h4
      | We swap out certain assets with ones specific to the target publisher,
      | creating a fully native experience coupled with the power of our GLAd
      | format.

section.promo#advertise-with-us.centered.no-bottom(style="padding-bottom: 60px;")
  h6 Advertisers
  h1 Advertise with Adefy
  h3 Deliver your products natively and intelligently
  a(href="https://app.adefy.com/signup" target="_blank")
    button.large Sign Up
