section.promo.centered.no-bottom#learn-more
  h6 Media Agencies
  h1 Learn More
  h3 <em><a href="#" onclick="openContactForm()">Contact us</a></em> to learn more about our solutions or to schedule a demo.
  a(href="/sales_brochure.pdf" onclick="ga('send', 'event', 'Download', 'PDF', 'Sales Brochure')" target="_blank")
    button.large Download Brochure
  img(src="/img/PublishersEarnwhatyouwant.png" data-at2x="/img/2x/PublishersEarnwhatyouwant.png")
