nav: .center
  a(href="#campaigns") Next-gen campaigns
  a(href="#ad-generation") Realtime ad generation
  a(href="#automatic-bidding") Automatic bidding system
  a(href="#delivery") Intelligent delivery

section#campaigns
  div
    h6 Advertisers
    h1 Next-gen campaigns
    h3 Delivering your content to receptive users has never been this easy.
    h4
      | Our creative formats and unique inventory allow for higher than ever user
      | engagment, and it shows. For more information about our ad formats
      | and authoring tools, check out our technology page.
    a.button(href="/technology")
      button Show me more
  div
    img(src="/img/AdvertisersNextGenCampaign.png" data-at2x="/img/2x/AdvertisersNextGenCampaign.png")

section.no-bottom#ad-generation
  div
    img(src="/img/AdvertisersRealTime.png" data-at2x="/img/2x/AdvertisersRealTime.png")
  div
    h6 Advertisers
    h1 Realtime ad generation
    h3
      | Have a large product database and want to connect it to our network,
      | but don't want to create an ad for each product?

    h4
      | We've built a conversion layer on top of our platform, that can generate
      | and serve ads on the fly, with your data, according to a few rules and
      | guidelines you set.

section#automatic-bidding
  div
    h6 Advertisers
    h1 Automatic bidding system
    h3 You set a max bid, and our system does the rest.
    h4
      | Alongside the standard manual bidding model, we also offer a smart
      | automatic bidding system that can intelligently set your bid per
      | request to match your daily budget.
  div
    img(src="/img/AdvertisersBiddingItem.png" data-at2x="/img/2x/AdvertisersBiddingItem.png")

section#delivery
  div
    img(src="/img/AdvertisersRTB.png" data-at2x="/img/2x/AdvertisersRTB.png")
  div
    h6 Advertisers
    h1 Intelligent delivery
    h3
      | Ads can be optimised for organic appearence within the target publisher
    h4
      | Following theming and integration guidelines, ads can be set up to take
      | on slightly different personas for each delivery target. After passing
      | through our RTB system, ad creatives are finalized in real time before
      | being sent out.

section.centered.no-bottom(style="padding-bottom: 60px;")
  h6 Advertisers
  h1 Advertise with Adefy
  h3 Deliver your products natively and intelligently
  a.button(href="/signup")
    button.large Sign Up
