nav: .center
  a(href="#campaigns") Next-gen campaigns
  a(href="#ad-generation") Realtime ad generation
  a(href="#delivery") Intelligent delivery
  a(href="#advertise-with-us") Advertise with us

section#campaigns
  div
    h6 Advertisers
    h1 Customizable campaigns
    h3 Easily deliver your content to receptive users
    h4
      | Track your campaign performance and adjust settings to maximize your
      | return on investment. For information about our ad formats and authoring
      | tools, check our technology page.
    a.button(href="/technology")
      button Show me more
  div
    img(src="/img/AdvertisersNextGenCampaign.png" data-at2x="/img/2x/AdvertisersNextGenCampaign.png")

section.no-bottom#ad-generation
  div
    img(src="/img/AdvertisersRealTime.png" data-at2x="/img/2x/AdvertisersRealTime.png")
  div
    h6 Advertisers
    h1 Realtime ad generation
    h3
      | Have a large product database and want to connect it to our network,
      | but don't want to create an ad for each product?

    h4
      | We've built a conversion layer on top of our platform, that can generate
      | and serve ads on the fly, with your data, according to a few rules and
      | guidelines you set.

section#delivery
  div
    img(src="/img/AdvertisersRTB.png" data-at2x="/img/2x/AdvertisersRTB.png")
  div
    h6 Advertisers
    h1 Customization
    h3
      | Ads are optimized on the fly to fit in with each publisher.
    h4
      | Ads are configured on a per-publisher basis for organic appearance.
      | They use native elements from the surrounding app to blend in, maintaining
      | user flow.

section#advertise-with-us.centered.no-bottom(style="padding-bottom: 60px;")
  h6 Advertisers
  h1 Advertise with Adefy
  h3 Deliver your products natively and intelligently
  a.button(href="https://app.adefy.com/signup" target="_blank")
    button.large Sign Up
