.splash
  .center
    .text
      h1 Information for Agencies interested in Adefy
      h3 Rich media without the file size and performance limitations.
      .actions
        a.button.swag(href="/sales_brochure.pdf" onclick="ga('send', 'event', 'Download', 'PDF', 'Sales Brochure')" target="_blank") Download Sales Brochure
    .preview
      img(src="/img/nexus_large_red_skittles.png" width="350")

section.columnar: .center
  h6 What We Offer
  h1 Smaller &amp; Faster Mobile Ads
  h3
    | As agencies push the boundaries of what is possible on mobile, large file
    | sizes, performance issues, and difficulty rendering 3D creatives have
    | become bottlenecks for HTML5 rich media.

  ul.features
    li
      img(src="/img/icons/link.png" data-at2x="/img/icons/link@2x.png")
      h3 Technology
      h4
       | Adefy GLAds render natively at the application level, achieving performance and flexibility far beyond what traditional HTML5 rich media can reach.

    li
      img(src="/img/icons/smartphone.png" data-at2x="/img/icons/smartphone@2x.png")
      h3 Authoring Tools
      h4
       | Our Ad Editor brings out the strengths of our GLAd technology, introducing a unique workflow tuned for animation-heavy mobile creatives. Craft interactive, realtime-rendered scenes for your publishers, using a powerful keyframe-based animation system and integrated 2D physics engine.

    li
      img(src="/img/icons/people.png" data-at2x="/img/icons/people@2x.png")
      h3 Early Adopters
      h4
       | Simply put, our mobile ad rendering technology offers more flexibility than we know what to do with. We are looking for 5 Early Adopters to work closely with us and craft the perfect media agency platform. 

.about.center: section.agencies-team
  h6 Early Adopters
  h1 Get In Touch
  h4 If you are a media agency interested in learning more about our technology,<br>contact us for pricing options and a demo!

  .images
    div
      img(src="/img/team/cris.jpg")
      h4 Cris Mihalache
      h6 Project Director
      span.links
        a(href="mailto:cris@adefy.com" target="_blank"): i.fa.fa-envelope-o
        a(href="https://twitter.com/f3rno" target="_blank"): i.fa.fa-twitter
        a(href="http://at.linkedin.com/pub/cris-mihalache/57/2a7/229/" target="_blank"): i.fa.fa-linkedin

    div
      h3 More Information
      a.button(href="/sales_brochure.pdf" onclick="ga('send', 'event', 'Download', 'PDF', 'Sales Brochure')" target="_blank") Download Brochure

    div
      img(src="/img/team/manu.png")
      h4 Emanuel Cinca
      h6 Marketing Manager
      span.links
        a(href="mailto:manu@adefy.com" target="_blank"): i.fa.fa-envelope-o
        a(href="https://twitter.com/emanuelc16" target="_blank"): i.fa.fa-twitter
        a(href="https://at.linkedin.com/in/emanuelcinca" target="_blank"): i.fa.fa-linkedin
