.map
  img(src="/img/map.jpg")
.location
  .center
    .dot
      img(src="/img/map-dot.png")
    .city
      h6 Headquarter
      h2 Wien, Austria
    .address
      | Hedwiggasse 2/Top 26,
      br
      | A-1020 Wien
    .mail
      a(href="www.spectrumit.eu") www.spectrumit.eu
      br
      a(href="mailto:office@spectrumit.eu ") office@spectrumit.eu 