section.centered.no-bottom(style="padding: 60px 0;")
  h6 Developer Center
  h4 The Developer Center will be ready for launch in late January 2014, stay tuned!
  a.button(href="/signup")
    button.large Sign Up
