section.centered.no-bottom(style="padding: 60px 0;")
  h6 Developer Center
  h1 The Developer Center is under development
  h3 It will be ready for launch in early January 2014, stay tuned!
  a.button(href="/signup")
    button.large Sign Up
