.about.center
  .sidebar
    a(href="/about") Our Mission
    a(href="/imprint") Imprint
  .main
    .subgrid
      section.full
        h6 Imprint
        h1 Spectrum IT Solutions GmbH
        h3 Hedwiggasse 2/Top 26, A-1020 Wien
        h3
          | Firmensitz: Wien
          br
          | Firmenbuchgericht: Handelsgericht Wien
          br
          | Firmenbuchnummer: 393588g