.about.center
  .sidebar
    a(href="/about") Our Mission
    a(href="/imprint") Imprint
  .main
    .subgrid
      section.full
        h6 Imprint

        h1 Adefy Mobile Advertising Network
        h3
          | office@adefy.com
          br
          | www.adefy.com
        br
        h1 Spectrum IT Solutions GmbH
        h3
          | office@spectrumit.eu
          br
          | www.spectrumit.eu
        br
        h3
          | Firmensitz: Wien
          br
          | Firmenbuchgericht: Handelsgericht Wien
          br
          | Firmenbuchnummer: 393588g
        br
        h3
          | Hedwiggasse 2 / Top 26
          br
          | A-1020 Wien
