
section
  h6 Imprint

  h2 Adefy
  h4
    | info@adefy.com
    br
    | www.adefy.com
  br
  h2 Spectrum IT Solutions GmbH
  h4
    | office@spectrumit.eu
    br
    | www.spectrumit.eu
  br
  h4
    | Firmensitz: Wien
    br
    | Firmenbuchgericht: Handelsgericht Wien
    br
    | Firmenbuchnummer: 393588g
  br
  h4
    | Hedwiggasse 2 / Top 26
    br
    | A-1020 Wien
  br
  h4
    | UID Nr: ATU67898466
    br
    | Geschäftsführer: Mag.(FH) Thomas Tiroch
