.video
  video(controls height="530" src="/video.mp4" poster="/transparent.png" onclick="this.play();")
  img#video-placeholder(src="/mobile-poster.png")

.actions: .center
  a(href="/advertisers").advertise
    h6 Advertise
    h2
      | Deliver your
      br
      | product organically
  a(href="/newsletter").newsletter
    h6 Check our newsletter
    h2
      | Subscribe
      br
      | for news!
  a(href="/advertisers").monetize
    h6 Monetize
    h2
      | Keep users
      br
      | engaged

.gray
  p We believe ads can be awesome
  h1 Re-defining mobile advertising
  .center
    ul.features
      li
        img(src="/img/icons/transform.png" data-at2x="/img/icons/transform@2x.png")
        h3 Nurturing Flow
        p Users don't want to be interrupted on their mobiles.

        button Show me more
      li
        img(src="/img/icons/smartphone.png" data-at2x="/img/icons/smartphone@2x.png")
        h3 Built for Mobile
        p Mobile devices are personal, integrating into our lives uniquely.

        button Show me more
      li
        img(src="/img/icons/shuffle.png" data-at2x="/img/icons/shuffle@2x.png")
        h3 Delivering Experiences
        p Our ads quite literally tell stories. Related ads can be delivered in sequence.

        button Show me more