.splash
  .center
    .text
      h1 <strong>Native</strong> mobile advertising network.
      h3 Send your data to any service with the flick of a switch.
      .actions
        a.button(href="https://app.adefy.com/signup") Learn more
        a.button.swag(href="https://app.adefy.com/signup") Get started!
    .preview
      img(src="/img/native-iphone.png")

.columnar
  p We believe ads can be awesome
  h1 Re-defining mobile advertising

  .center
    ul.features
      li
        img(src="/img/icons/transform.png" data-at2x="/img/icons/transform@2x.png")
        h3 Nurturing Flow
        p Users don't want to be interrupted on their mobiles.

        a.button(href="/technology#flow")
          button Show me more
      li
        img(src="/img/icons/smartphone.png" data-at2x="/img/icons/smartphone@2x.png")
        h3 Built for Mobile
        p Mobile devices are personal, integrating into our lives uniquely.

        a.button(href="/technology#organic-content")
          button Show me more
      li
        img(src="/img/icons/shuffle.png" data-at2x="/img/icons/shuffle@2x.png")
        h3 Enriching Experiences
        p Our ads fit seamlessly into apps and don't interrupt user activity

        a.button(href="/technology#ad-formats")
          button Show me more

.signup: .center
  span Lots of text to make you interested in us
  button.large Sign up!
