.splash
  .center
    .text
      h1 A <strong>Native</strong> Advertising Platform for Mobile
      h3 Ads that keep users engaged
      .actions
        a.button.white(href="https://app.adefy.com/signup") Learn more
        a.button.swag(href="https://app.adefy.com/signup") Get started!
    .preview
      img(src="/img/native-iphone-shadow.png")

.browser: .center
  h2 The Platform, nuff' said
  p Lorizzle ipsum dolizzle sure amizzle, own yo' adipiscing elizzle. Da bomb sapizzle , owned volutpizzle, dizzle quizzle, fo shizzle vizzle.
  div.left
    img(src="/img/preview_left.png")
  div.central
    img(src="/img/preview_center.png")
  div.right
    img(src="/img/preview_right.png")


section.columnar
  p We believe ads can be awesome
  h1 Re-defining mobile advertising

  .center
    ul.features
      li
        img(src="/img/icons/transform.png" data-at2x="/img/icons/transform@2x.png")
        h3 Nurturing Flow
        p Users don't want to be interrupted on their mobiles.

        a(href="/technology#flow")
          button Show me more
      li
        img(src="/img/icons/smartphone.png" data-at2x="/img/icons/smartphone@2x.png")
        h3 Built for Mobile
        p Mobile devices are personal, integrating into our lives uniquely.

        a(href="/technology#organic-content")
          button Show me more
      li
        img(src="/img/icons/shuffle.png" data-at2x="/img/icons/shuffle@2x.png")
        h3 Enriching Experiences
        p Our ads fit seamlessly into apps and don't interrupt user activity

        a(href="/technology#ad-formats")
          button Show me more

.demo.no-bottom: .center
  .preview
    img(src="/img/native-iphone-shadow.png")
  .text
    h2 Adefy Native Ads
    h4 Content is king
    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    img(src="/img/native-json.png" data-at2x="/img/2x/native-json.png")

.demo: .center
  .text
    h2 Adefy GLAds
    h4 An industry unique format
    p We've developed a unique ad format that renders natively using GL ES 2 on all devices. With an integrated physics engine and true native render speeds, advertisers can craft experiences for users on-par with modern mobile games.

    #glad-editor.editor(style="height: 320px")

  .preview.glad-preview#glad

section.columnar: .center
  h6 Mission
  h1 Redefining mobile ads
  h3
    | We believe in enabling advertising that cultivates user experiences.
    | Existing ad formats are obtuse, and fit in poorly with mobile use
    | patterns. The web has and is evolving dramatically, and content
    | delivery needs to reflect this.

  ul.features
    li
      img(src="/img/icons/link.png" data-at2x="/img/icons/link@2x.png")
      h3 Organic
      h4
       | Advertisments appear in chains of interaction on mobiles, and we
       | believe they shoud fit in seamlessly.

    li
      img(src="/img/icons/diamond.png" data-at2x="/img/icons/diamond@2x.png")
      h3 Quality
      h4
       | Mobile advertising, as it exists today, values raw volume. We believe
       | the quality of individual impressions vital to successful advertising.

    li
      img(src="/img/icons/people.png" data-at2x="/img/icons/people@2x.png")
      h3 User Experience
      h4
       | Flow is precious, as is screen space. Quality of user experience
       | comes before all else in our approach to creative delivery.

.signup: .center
  span Lots of text to make you interested in us
  button.large Sign up!

script.
  $(document).ready(function() {
    editor = ace.edit($("#glad-editor")[0]);
    editor.setTheme("ace/theme/tomorrow");
    editor.getSession().setMode("ace/mode/javascript");
    editor.setReadOnly(true);

    loadAd({
      logic: "/js/watch_logic.js",
      manifest: "/js/watch_manifest.js",
      adEditor: "glad-editor",
      parentDiv: "#glad",
      width: 720,
      height: 1280
    });
  });
