.splash
  .center
    .text
      h1 Innovation for Media Agencies
      h3 Want <em>super-smooth</em> native animated mobile ads that load <em>instantly? We've got you covered.</em>
      .actions
        a.button.white(href="#" onclick="openContactForm()") Get In Touch
        a.button.swag(href="/sales_brochure.pdf" onclick="ga('send', 'event', 'Download', 'PDF', 'Sales Brochure')" target="_blank") Download Brochure
    .preview
      img(src="/img/PublishersMonetize.png" width="350")

section.columnar: .center
  h6 What We Offer
  h1 Smaller &amp; Faster Mobile Ads
  h3
    | As agencies push the boundaries of what is possible on mobile, large file
    | sizes, performance issues, and difficulty rendering 3D creatives have
    | become bottlenecks for HTML5 rich media.

  ul.features
    li
      img(src="/img/icons/link.png" data-at2x="/img/icons/link@2x.png")
      h3 Technology
      h4
       | Adefy NRM ads render natively at the application level, achieving performance and flexibility far beyond what traditional HTML5 rich media can reach.

    li
      img(src="/img/icons/smartphone.png" data-at2x="/img/icons/smartphone@2x.png")
      h3 Authoring Tools
      h4
       | Our Ad Editor brings out the strengths of our NRM technology, introducing a unique workflow tuned for animation-heavy mobile creatives. Craft interactive, realtime-rendered scenes for your publishers, using a powerful keyframe-based animation system and integrated 2D physics engine.

    li
      img(src="/img/icons/people.png" data-at2x="/img/icons/people@2x.png")
      h3 Early Adopters
      h4
       | Simply put, our mobile ad rendering technology offers more flexibility than we know what to do with. We are looking for 5 Early Adopters to work closely with us and craft the perfect media agency platform. 

.demo: .center
  .text.gl-text
    h2 Adefy NRM Ads
    h4 An industry unique format
    p We've developed a unique ad format that renders natively using GL ES 2 on all devices. With an integrated physics engine and true native render speeds, advertisers can craft experiences for users on-par with modern mobile games.

    #glad-editor.editor(style="height: 320px")

  .preview.glad-preview.red#glad

.about.center: section
  h6 Early Adopters
  h1 Get In Touch
  h4 If you are a media agency interested in learning more about our technology,<br><em><a href="#" onclick="openContactForm()">contact</a></em> us for pricing options and a demo!

.signup: .center
  span Interested in learning more?
  a(href="/sales_brochure.pdf" onclick="ga('send', 'event', 'Download', 'PDF', 'Sales Brochure')" target="_blank")
    button.white.large Download Brochure

script.
  $(document).ready(function() {
    editor = ace.edit($("#glad-editor")[0]);
    editor.setTheme("ace/theme/tomorrow");
    editor.getSession().setMode("ace/mode/javascript");
    editor.setReadOnly(true);

    loadAd({
      logic: "/js/watch_logic.js",
      manifest: "/js/watch_manifest.js",
      adEditor: "glad-editor",
      parentDiv: "#glad",
      width: 300,
      height: 533,
      scrollOffset: 500
    });
  });
