.splash
  .center
    .text
      h1 <strong>Native</strong> mobile advertising network.
      h3 Send your data to any service with the flick of a switch.
      .actions
        a.button.white(href="https://app.adefy.com/signup") Learn more
        a.button.swag(href="https://app.adefy.com/signup") Get started!
    .preview
      img(src="/img/nexus_large.png")

.demo: .center
  .preview
    img(src="/img/nexus_large.png")
  .text
    h3 Hi
    h4 Subline nao nao nao!
    p This is a completely random paragraph I typed out all by myself. How do I feel? I feel... I feel... proud of myself. Quoting the kid that learned how to ride a bike, I keep typing until I have enough to get back to work. There's still more though, so I start figuring out how to pull a _why on you all. GONE.

.columnar
  p We believe ads can be awesome
  h1 Re-defining mobile advertising

  .center
    ul.features
      li
        img(src="/img/icons/transform.png" data-at2x="/img/icons/transform@2x.png")
        h3 Nurturing Flow
        p Users don't want to be interrupted on their mobiles.

        a(href="/technology#flow")
          button Show me more
      li
        img(src="/img/icons/smartphone.png" data-at2x="/img/icons/smartphone@2x.png")
        h3 Built for Mobile
        p Mobile devices are personal, integrating into our lives uniquely.

        a(href="/technology#organic-content")
          button Show me more
      li
        img(src="/img/icons/shuffle.png" data-at2x="/img/icons/shuffle@2x.png")
        h3 Enriching Experiences
        p Our ads fit seamlessly into apps and don't interrupt user activity

        a(href="/technology#ad-formats")
          button Show me more

.columnar: .center
  h6 Mission
  h1 Redefining mobile ads
  h3
    | We believe in enabling advertising that cultivates user experiences.
    | Existing ad formats are obtuse, and fit in poorly with mobile use
    | patterns. The web has and is evolving dramatically, and content
    | delivery needs to reflect this.

    ul.features
      li
        img(src="/img/icons/link.png" data-at2x="/img/icons/link@2x.png")
        h3 Organic
        h4
         | Advertisments appear in chains of interaction on mobiles, and we
         | believe they shoud fit in seamlessly.

      li
        img(src="/img/icons/diamond.png" data-at2x="/img/icons/diamond@2x.png")
        h3 Quality
        h4
         | Mobile advertising, as it exists today, values raw volume. We believe
         | the quality of individual impressions vital to successful advertising.

      li
        img(src="/img/icons/people.png" data-at2x="/img/icons/people@2x.png")
        h3 User Experience
        h4
         | Flow is precious, as is screen space. Quality of user experience
         | comes before all else in our approach to creative delivery.

.signup: .center
  span Lots of text to make you interested in us
  button.large Sign up!
