.video
  video(controls="controls" width="942" height="530" src="/video.mp4" poster="/transparent.png" onclick="this.play();")

    object(width="942" height="530" type="application/x-shockwave-flash" data="mediaelement/flashmediaelement.swf")
      param(name="movie" value="mediaelement/flashmediaelement.swf")
      param(name="flashvars" value="controls=true&file=/video.mp4")
      img(src="/transparent.png" height="530" title="No video playback capabilities")

  img#video-placeholder(src="/mobile-poster.png")

.actions: .center.fullw
  a(href="/advertisers").advertise
    h6 Advertise
    h2
      | Deliver products
      br
      | organically
  a(href="https://app.adefy.com/signup" target="_blank").newsletter
    h6 Sign up
    h2
      | Create an
      br
      | account
  a(href="/advertisers").monetize
    h6 Monetize
    h2
      | Keep users
      br
      | engaged

.gray
  p We believe ads can be awesome
  h1 Re-defining mobile advertising
  .center
    ul.features
      li
        img(src="/img/icons/transform.png" data-at2x="/img/icons/transform@2x.png")
        h3 Nurturing Flow
        p Users don't want to be interrupted on their mobiles.

        a.button(href="/technology#flow")
          button Show me more
      li
        img(src="/img/icons/smartphone.png" data-at2x="/img/icons/smartphone@2x.png")
        h3 Built for Mobile
        p Mobile devices are personal, integrating into our lives uniquely.

        a.button(href="/technology#organic-content")
          button Show me more
      li
        img(src="/img/icons/shuffle.png" data-at2x="/img/icons/shuffle@2x.png")
        h3 Delivering Experiences
        p Our ads quite literally tell stories. Related ads can be delivered in sequence.

        a.button(href="/technology#ad-formats")
          button Show me more
