section.tos
  h2 Privacy Policy
  p Please read our privacy policy before using our services or submitting and personal data. By using Adefy, you are accepting the practices described in this Privacy Policy. You are encouraged to review the Privacy Policy whenever you visit the Site to make sure that you understand how any personal information you provide will be used. Members are notified of changes via email and via the platform.

section.tos
  h2 Collection of Data
  p We collect personally identifiable information (PII) when voluntarily submitted by our visitors. This information is used to fulfil specific requests and services.
  p The Site may use cookie and tracking technology depending on the features offered. Cookie and tracking technology are useful for gathering information such as browser type and operating system, tracking the number of visitors to the Site, and understanding how visitors use the Site.
  p Cookies can also help customise the Site for visitors. Personal information cannot be collected via cookies and other tracking technology. However, if you previously provided personally identifiable information, cookies may be tied to such information. Aggregate cookie and tracking information may be shared with third parties.
  p
    | The Site uses google analytics just for statistical reasons. 
    a(href="http://www.google.com/intl/en_uk/analytics/privacyoverview.html" target="_blank") To learn more about Google Analytics click here.
  p You can prevent cookies from being stored on your hard drive by setting your browser to not accept cookies.

section.tos
  h2 Distribution of Information
  p We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual or potential fraud or unauthorised transactions; or, (3) investigating fraud which has already taken place. The information is not provided to these companies for marketing purposes.

section.tos
  h2 Commitment to Data Security
  p Your personally identifiable information is kept secure. Only authorised employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information.

section.tos
  h2 Personally identifiable information
  p In case you, as visitor of this website, should provide to us data by mail, e-mail or telephone or in any other way, you express your consent that we shall be entitled to contact you for information purposes per email, mail and telephone and we shall be entitled to process the data for the mentioned purposes. The data shall be treated as highly confidential and shall not be passed on to third parties. Please note that you may revoke this statement at any time and you have the right to ask for cancellation of all your personal data.

section.tos
  h2 Links
  p This page contains links to internet pages, which are offered by third parties. These links are to be considered as service only. No liability shall be assumed for the contents of these pages.

section.tos
  h2 Privacy Contact Information
  p
    | Contact us at 
    a(href="mailto:support@adefy.com" target="_blank") support@adefy.com 
    | or 
    a(href="mailto:privacy@adefy.com" target="_blank") privacy@adefy.com
  p Every time we ask a user for personal information, we should link them to the privacy policy and ask them to click “read and accepted privacy policy” or so.
