nav: .center
  a(href="#monetize") Monetize
  a(href="#inventory") Untapped inventory
  a(href="#floor-limits") Earn what you want

section.promo.no-bottom#monetize
  div
    h6 Publishers
    h1 Monetize
    h3 Monetize while keeping your users engaged.
    h4 With our innovative NRM format, you can earn more while keeping your users happy.
  div
    img(src="/img/PublishersMonetize.png" data-at2x="/img/2x/PublishersMonetize.png")

section.promo#inventory
  div
    img(src="/img/PublishersUntaped.png" data-at2x="/img/2x/PublishersUntaped.png")
  div
    h6 Publishers
    h1 Untapped inventory
    h3 Advertise with our flow-enhancing in stream and loadscreen ads.

    h4 Users don't want to be interrupted by advertising, and we understand that. Our goal is to nurture user experiences in your applications, not disturb them.

//- Graphic used on Advertisers page
//- section.promo.centered.no-bottom#floor-limits
  h6 Publishers
  h1 Earn what you want
  h3 Set floor limits for incoming ads, to only display an ad when it pays what you want it to.
  a(href="https://app.adefy.com/signup" target="_blank")
    button.large Monetize with Adefy
  img(src="/img/PublishersEarnwhatyouwant.png" data-at2x="/img/2x/PublishersEarnwhatyouwant.png")
