nav: .center
  a(href="#monetize") Monetize
  a(href="#inventory") Untapped inventory
  a(href="#ads") Ads
  a(href="#floor-limits") Earn what you want

section.no-bottom#monetize
  div
    h6 Publishers
    h1 Monetize
    h3 Monetize untapped inventory while keeping your<br /> users engaged.
    h4 With our innovative GLAd and oAd formats, you can earn more while raising the bar for user experience
  div
    img(src="/img/PublishersMonetize.png" data-at2x="/img/2x/PublishersMonetize.png")

section#inventory
  div
    img(src="/img/PublishersUntaped.png" data-at2x="/img/2x/PublishersUntaped.png")
  div
    h6 Publishers
    h1 Untapped inventory
    h3 Drop your banner/rich media ads, and replace them with our flow-enhancing loadscreen ads.

    h4 Users don't want to be interrupted by advertising, and we understand that. Our goal is to nurture user experiences in your applications, not disturb them.

section#ads
  div
    h6 Publishers
    h1 Ads that get out of the way
    h3 You can preload GLAds and oAds, enabling instant delivery right when your users need it
    h4
      | Notify the ad when your load process finishes with our SDK, and it'll
      | immediately go away. We keep users inside your application by asking
      | them to confirm any clicks, and provide an attractive "Remind me Later"
      | button that allows users to learn more about the product without
      | leaving your app.
  div
    h6 Publishers
    h1 Ads that fit in
    h3 Keep users in the loop with our customizable loadscreen widgets, and provide content guidelines for advertisers
    h4
      | Whether setting out color palettes, screenshots, or assets for
      | advertisers to use when targeting your application, we empower you to
      | craft the look of incoming ads. By allowing for realtime organic ad
      | translation, a single ad can take on a slightly different appearence for
      | every publisher. Ads that have been customized in this way for your
      | specific art style earn you more, and drive CTR up.

section.centered.no-bottom#floor-limits
  h6 Publishers
  h1 Earn what you want
  h3 Set floor limits for incoming ads, to only display an ad when it pays what you want it to.
  a.button(href="https://app.adefy.com/signup" target="_blank")
    button.large Monetize with Adefy
  img(src="/img/PublishersEarnwhatyouwant.png" data-at2x="/img/2x/PublishersEarnwhatyouwant.png")
