nav: .center
  a(href="#ad-formats") Innovative Formats
  a(href="#authoring-tools") Powerful authoring tools
  a(href="#delivery") NRM Customization


section.promo#ad-formats
  div
    h6 Technology
    h1 Innovative formats: NRM Ad
    img.middle(src="/img/TechnologyGlad.png" data-at2x="/img/2x/TechnologyGlad.png" height="256")
    h3 A natively processed ad format with integrated Box2D physics.
    h4
      | Perfect for advertising alongside games and other realtime rendered
      | applications. Use our authoring tools to develop animated actor based
      | scenes with prebuilt effects and actor formats.
  div
    h6 Technology
    h1 Innovative formats: Native
    img.middle(src="/img/TechnologyOad.png" data-at2x="/img/2x/TechnologyOad.png" height="256")
    h3 Organic content advertising
    h4
      | Display advertised content within your applications existing streams;
      | we provide the content, and you mold it to match your needs.

section.promo#authoring-tools
  div
    h6 Technology
    h1 Powerful authoring tools
    h3 An actor/timeline based ad editor in the browser.
    h4
      | Our editor enables a familiar workflow, and empowers agencies to craft
      | experiences that make full use of our NRM technology. Create actors,
      | set up animations, toggle physics simulation and enable realistic
      | experiences that will keep users glued to their screens.

  div
    img(src="/img/TechnologyCuttingEdge.png" data-at2x="/img/TechnologyCuttingEdge.png")

section.promo#delivery
  div
    img(src="/img/AdvertisersRTB.png" data-at2x="/img/2x/AdvertisersRTB.png")
  div
    h6 Technology
    h1 NRM Customization
    h3
      | Our NRM Ads are optimized on the fly to fit in with publishers
    h4
      | We swap out certain assets with ones specific to the target publisher,
      | creating a fully native experience coupled with the power of our NRM
      | format.


//- section.promo.no-bottom#organic-content
  div
    h6 Technology
    h1 Organic content
    h3 Adefy offers both publishers and advertisers easy access to native mobile ad formats.
    h4
      | Our formats are organic components of the applications they appear in,
      | fitting in alongside existing content.
  div
    img(src="/img/TechnologyOrganic.png" data-at2x="/img/2x/TechnologyOrganic.png")
