nav: .center
  a(href="#organic-content") Organic content
  a(href="#flow") Get with the flow
  a(href="#ad-formats") Innovative formats: GLad and oAd
  a(href="#authoring-tools") Cutting-edge authoring tools


section.no-bottom#organic-content
  div
    h6 Technology
    h1 Organic content
    h3 Adefy offers both publishers and advertisers the first ever truly native mobile ad format.
    h4 With our advanced GL ES rendering and physics integration, you can deliver content seamlessly within existing user workflows.
    button Show me more
  div
    img(src="/img/TechnologyOrganic.png" data-at2x="/img/2x/TechnologyOrganic.png")


section#flow
  div
    img(src="/img/TechnologyFlow.png" data-at2x="/img/2x/TechnologyFlow.png")
  div
    h6 Technology
    h1 Get with the flow
    h3 Flow is crucial for satisfied users.
    h4
      | We've built our new formats around this idea. By delivering content
      | during periods of waiting, or "downtimes", we drive conversions up and
      | misclicks down.


section#ad-formats
  div
    h6 Technology
    h1 Innovative formats: GLAd
    img.middle(src="/img/TechnologyGlad.png" data-at2x="/img/2x/TechnologyGlad.png")
    h3 Our main offering, a natively processed ad format with integrated Box2D physics.
    h4
      | Perfect for advertising alongside games and other realtime rendered
      | applications. Use our authoring tools to develop animated actor based
      | scenes with prebuilt effects and actor formats. Import your existing
      | banner and rich media ads and convert them to take full advantage of
      | the possibilities GLAd brings to the table.
  div
    h6 Technology
    h1 Innovative formats: oAd
    img.middle(src="/img/TechnologyOad.png" data-at2x="/img/2x/TechnologyOad.png")
    h3 For those that need organic interactivity
    h4
      | When realtime native rendering doesn't quite fit the bill, turn to our
      | oAd format. Build user experiences with native elements across multiple
      | platforms, all in javascript.

section#authoring-tools
  div
    h6 Technology
    h1 Cutting edge authoring tools
    h3 An actor/timeline based ad editor in the browser.
    h4
      | Our editor enables a familiar workflow, and empowers agencies to craft
      | experiences that make full use of our GLAd technology. Create actors,
      | set up animations, toggle physics simulation and enable realistic
      | experiences that will keep users glued to their screens.

  div
    img(src="/img/TechnologyCuttingEdge.png" data-at2x="/img/TechnologyCuttingEdge.png")