section.tos
  h1 Adefy – Terms of Service

section.tos
  h2 1. Terms and Conditions of the Agreement

  p Spectrum IT Solution GmbH (“SIT”), a company incorporated under the laws of Austria owns and operates the Advertising Platform called Adefy (“Service”), SIT provides its Service to you (“Member”, “Advertiser”, “Publisher”) under these Terms and Conditions of the Service Agreement (“Terms”), and any amendments thereto and any operating rules or policies. SIT reserves the right, in its sole discretion, to change, modify, add or remove all or part of the Agreement at any time. If any modification to this agreement is unacceptable to Members, Members would only be entitled to terminate the agreement within 2 weeks. Members continued participation with the Service following our posting of a new agreement on our site will constitute a binding acceptance of the change. Members are encouraged to review the Terms of Services frequently and any time before Members agree to a new contract to make sure whether SIT changed their terms and conditions.

  p
    em 1.1 By accepting the Terms of the Agreement, the Member

  p (a) Represents and warrants that s/he is of at least 18 years of age
  p (b) Agrees to provide accurate, current and complete information about Member as prompted by the Account Registration Form; and
  p (c) Agrees to maintain and update this information to keep it accurate, current and complete.

  p If any information provided by Member is inaccurate, not current or incomplete, SIT has the right to terminate Member’s account, within immediate effect.

  p
    em 1.2 BY COMPLETING THE ACCOUNT REGISTRATION PROCESS, AND CLICKING THE “Register” BUTTON, Members AGREE TO BE BOUND BY THE AGREEMENT and the relevant Terms. If these Terms or any future changes are unacceptable to Members, Members may cancel their account according to the Termination of Service.

section.tos
  h2 2. Description of Service

  p By completing Registration, Member creates an account with the Service. Member accounts can function as both an Advertiser and/or Publisher (“Publisher” and “Advertiser” respectively). The dual role of the Service account gives the Member the ability to purchase advertising by providing funds and selecting Publishers to display their ads on the Publisher’s mobile website for specified periods of time in an Advertiser role, and/or promoting Advertiser ads on the Member’s mobile website in a Publishing role.

  p
    em 2.1 Editorial Review - SIT will review each ad and mobile application or website individually, and has the right to reject the Advertiser’s ad or Publisher’s mobile application / website for any reason.

  p
    em
      | 2.2 Technical Support - Members may receive technical help and resolve billing inquiries by contacting SIT Support via e-mail at 
      a(href="mailto:support@adefy.com" target="_blank") support@adefy.com

  p
    em 2.3 Neither the Agreement, nor any documentation furnished under it is intended to express or imply any warranty that the Service will be uninterrupted, timely or error-free.

  p
    em 2.4 USE OF THE SERVICE SUBMISSIONS: By submitting material or web page listings to the Service (including information regarding the listing) Members are irrevocably granting SIT, its licensees, and any entities in the Service, the right to use all parts of the material without limitation including, but not limited to, modifying it or using it commercially and authorising others to do so. SIT reserves the right to edit, refuse, reject or remove any mobile application/website or ad at its discretion at any time from the Service.

section.tos
  h2 3. Member Representations

  p Member affirms that he is the legal owner of the URL specified in his Advertiser account, an employee of the legal owner of the domain with the respective permission, or has obtained express written permission from the legal owner of the domain for use of the Service with the aforementioned domain. Member expressly agrees to indemnify SIT from any claims by any third party arising from use of the Advertiser Service with the specified URL.

section.tos
  h2 4. Advertiser Fees and Publisher Payment

  p If Member is an Advertiser, Member shall pre-pay all applicable fees, as described in the Service, in connection with such Services selected by Member. If Member is a Publisher, Member shall receive a percentage of the “Net Revenue” of advertisements associated with Member’s use of the Service as solely determined by SIT. Net Revenue shall mean revenues actually received by SIT from the sale of Advertisements displayed on Publisher’s mobile website less taxes. Publisher may in addition to online transfer methods in the service, request payment by invoice.

  p SIT reserves the right to change payment dates, amounts, and service(s) at any time, with prior notification to Member, in form of a posting on the Member’s Service account, or per email to Members.

  p
    em 4.1 MINIMUM DEPOSIT: Service Member may fund his/her balance with at least $50.00 per deposit. All funds maintained in Advertiser account will be distributed appropriately among currently active ad campaigns to ensure continuity of service. SIT reserves the right to reject any advertisement creative for any reason.

section.tos
  h2 5. Click Fraud

  p All ad campaigns are closely monitored for fraudulent activity by SIT. Publishers reasonably assumed to be responsible for fraudulent clicks or activity will be automatically restricted from use of their Publisher area, and investigated for click fraud or fraudulent activities. Any revenue believed to be generated by fraudulent clicks will be refunded to the Advertiser in good faith. CLICKING ON MEMBERS OWN AD SPACE COUNTS AS CLICK FRAUD AND WILL RESULT IN AUTOMATIC TERMINATION. SIT reserves the right to reject any or all requests for investigation of assumed click fraud by any Member at their discretion.

section.tos
  h2 6. Termination of Service

  p SIT may terminate the Service with or without cause at any time, effective immediately and without prior notice. SIT may terminate a Member via written or email notice as necessary. Request of Termination initiated by Member must be requested via email. SIT shall not be liable to Member or any third party for Termination of Service.

  p
    | Should Member object to any Terms of the Agreement or any subsequent modifications hereto, or become dissatisfied with the Service in any way, the Member’s sole recourse is to immediately contact SIT support by emailing directly to 
    a(href="support@adefy.com" target="_blank") support@adefy.com

  p Upon termination of the Service, Member’s right to use the Service instantly ceases. Member shall have no right, and SIT shall have no obligation thereafter, to forward any information associated with Member’s account. Any outstanding Amount(s) remaining in terminated Accounts are refundable to previous Account owners.

  p
    em 6.1 SIT may terminate Member without any prior notice if Member has materially breached or is otherwise not in compliance with any provision of the Agreement, and such breach or noncompliance is not cured within such thirty (30) day period. SIT reserves the right to immediately suspend or terminate any Member, mobile website, mobile application, and/ or restrict Member’s access to the Service until any breach or noncompliance is cured.

  p
    em 6.2 TERMINATION FOR ILLEGAL OR OTHER ACTIVITY: SIT may, but has no duty to, immediately terminate the agreement and remove all respective information and data from the Service servers if in its sole discretion SIT concludes that Member is engaged in illegal activities or the sale of illegal or harmful goods or services, or is engaged in activities or sales that may damage the rights of SIT or others. Any termination under this Section shall take effect immediately, and Member expressly agrees that it shall not have any opportunity to cure.

  p
    em 6.3 WAIVER: Member expressly waives any statutory or other legal protection in conflict with the provisions of this Section 6.

  p
    em 6.4 DELETION OF INFORMATION: Upon termination, SIT reserves the right to delete from its servers any and all information contained in Member’s account including, but not limited to, order processing information, mailing lists, and any data generated by the Service software.

  p
    em 6.5 The provisions of Section 7.0 EXCLUSION OF WARRANTIES, to Section 13.0 GENERAL LEGAL TERMS of this Service Agreement shall survive any termination of the Agreement.

section.tos
  h2 7. Exclusion of Warranties

  p
    em 7.1 Nothing in these terms, including sections 7.0 to 13.0, shall exclude or limit SIT warranty or liability for losses which may not be lawfully excluded or limited by applicable law. Some jurisdictions do not allow the exclusion of certain warranties or conditions or the limitation or exclusion of liability for loss or damage caused by negligence, breach of contract or breach of implied terms, or incidental or consequential damages. Accordingly, only the limitations which are lawful in members jurisdiction will apply to members and our liability will be limited to the maximum extent permitted by law.

  p
    em 7.2 Members expressly understand and agree that members use of the service is at Members sole risk and that the services are provided “as is” and “as available.”

  p
    em 7.3 In particular, SIT, its subsidiaries and affiliates, and its licensors do not represent or warrant to Members that:

  p (a) Members use of the service will meet Members requirements,
  p (b) Members use of the service will be uninterrupted, timely, secure or free from error,
  p (c) Any information obtained by Members as a result of Members use of the service will be accurate or reliable, and
  p (d) That defects in the operation or functionality of any software provided to Members as part of the service will be corrected.

  p
    em 7.4 Any material downloaded or otherwise obtained through the use of the service is done at Members own discretion and risk and that Members will be solely responsible for any damage to Members computer system or other device or loss of data that results from the download of any such material.

  p
    em 7.5 SIT further expressly disclaims all warranties and conditions of any kind, whether express or implied, including, but not limited to the implied warranties and conditions of merchantability, fitness for a particular purpose and non-infringement.

section.tos
  h2 8. Limitation of Liability

  p
    em 8.1 Subject to overall provision in paragraph 7.1 above, Members expressly understand and agree that SIT, its subsidiaries and affiliates, and its licensors shall not be liable to Members for:

  p (1) Any direct, indirect, incidental, special consequential or exemplary damages which may be incurred by Members, however caused and under any theory of liability. this shall include, but not be limited to, any loss of profit (whether incurred directly or indirectly), any loss of goodwill or business reputation, any loss of data suffered, cost of procurement of substitute goods or services, or other intangible loss;

  p (2) Any loss or damage which may be incurred by Members, including but not limited to loss or damage as a result of:

  p￼(a) Any reliance placed by Members on the completeness, accuracy or existence of any advertising, or as a result of any relationship or transaction between Members and any advertiser or sponsor whose advertising appears through the service;

  p (b) Any changes which SIT may make to the service, or for any permanent or temporary cessation in the provision of the service (or any features within the service);

  p (c) The deletion of, corruption of, or failure to store, any content and other communications data maintained or transmitted by or through Members use of the service;

  p (d) Members failure to provide SIT with accurate account information;

  p (e) Members failure to keep Members password or account details secure and confidential;

  p
    em 8.2 The limitations on SITs liability to Members in paragraph 8.1 and 2.3. above shall apply whether or not SIT has been advised of or should have been aware of the possibility of any such losses arising.

section.tos
  h2 9. Copyright and Trademark Policies

  p
    em 9.1 It is SIT policy to respond to notices of alleged copyright infringement that comply with applicable international intellectual property law and to terminating the accounts of repeat infringers.

section.tos
  h2 10. Advertisements

  p
    em 10.1 Some of the mobile websites/applications are financed by advertising revenue and may display advertisements and promotions. These advertisements may be targeted to the content of information stored on the mobile websites/applications, queries made through the mobile websites/applications or other information.

  p
    em 10.2 The manner, mode and extent of advertising by the Service on the mobile websites/ applications are subject to change without specific notice to Member.

section.tos
  h2 11. Other Content

  p
    em 11.1 The mobile websites may include hyperlinks to other mobile websites or content or resources. SIT may have no control over any mobile websites or resources which are provided by companies or persons other than SIT.

  p
    em 11.2 Members acknowledge and agree that SIT is not responsible for the availability of any such external sites or resources, and does not endorse any advertising, products or other materials on or available from such mobile websites/applications or resources.

  p
    em 11.3 Members acknowledge and agree that SIT is not liable for any loss or damage which may be incurred by Members as a result of the availability of those external sites or resources, or as a result of any reliance placed by Members on the completeness, accuracy or existence of any advertising, products or other materials on, or available from, such mobile websites/applications or resources.

section.tos
  h2 12. Changes to the Terms

  p
    em 12.1 SIT may make changes to the Service at any time. When these changes are made, SIT will make a new copy of the Agreement available at http://www.adefy.com/ToS and be made available to Members by email, and from within, or through, the Service.

  p
    em 12.2 Members understand and agree that if Members use the Service after the date on which the Agreement has changed, SIT will treat your use as acceptance of the updated Agreement.

section.tos
  h2 13. General Legal Terms

  p
    em 13.1 Sometimes when Members use the Service, Members may (as a result of, or through the use of the Service by Members) use a service or download a piece of software, or purchase goods, which are provided by another person or company. Members use of these other services, software or goods may be subject to separate terms between Members and the company or person concerned. If so, the Agreement does not affect Members legal relationship with these other companies or individuals.

  p
    em 13.2 The Agreement constitutes the whole legal agreement between Members and SIT and governs Members use of the Service (however excluding any services which SIT may provide to Members under a separate written agreement), and completely replace any prior agreements between Members and SIT in relation to the Service.
  ￼￼￼
  p
    em 13.3 Members agree that SIT may provide Members with notices, including those regarding changes to the Agreement, by email, regular mail, or postings on the Service.

  p
    em 13.4 Members agree that if SIT does not exercise or enforce any legal right or remedy which is contained in the Agreement (or which SIT has the right to under any applicable law), this will not be taken to be a formal waiver of SIT rights and that those rights or remedies will still be available to SIT.

  p
    em 13.5 If any court of law, having the jurisdiction to decide on this matter, rules that any provision of the Agreement is invalid, then that provision will be removed from the Agreement without affecting the rest of the Terms. The remaining provisions of the Agreement will continue to be valid and enforceable.

  p
    em 13.6 Members acknowledge and agree that each member of the group of companies of which SIT is the parent shall be third party beneficiaries to the Agreement and that such other companies shall be entitled to directly enforce, and rely upon, any provision of the Agreement which confers a benefit on (or rights in favour of) them. Other than this, no other person or company shall be third party beneficiaries to the Agreement.

  p
    em 13.7 The Agreement, and Members relationship with SIT under the Terms, shall be governed by the laws of Austria without regard to its conflict of laws provisions. Members and SIT agree to submit to the exclusive jurisdiction of the courts located within the county of Vienna, Austria to resolve any legal matter arising from the Agreement.

section.tos
  p If you have any questions regarding the Agreement, please contact us at any time:
  br
  p Adefy Mobile Advertising Network
  p Spectrum IT Solutions GmbH
  p Hedwiggasse 2 / Top 26
  p A-1020 Wien
  br
  p
    | www.adefy.com - 
    a(href="mailto:support@adefy.com" target="_blank") support@adefy.com
