header.bar.bar-nav
  a.icon.icon-left-nav.pull-left(href="/demo", data-transition="slide-out")
  a.icon.icon-bars.pull-right
  h1.title Car Listing

.bar.bar-standard.bar-header-secondary
  h1.title Search Results

.content#car-listing
  ul.table-view
    li.table-view-cell.media
      img.media-object.pull-left(src="/demo/img/car-lotus.jpg" width="100")
      .media-body
        | Lotus Elise Sportwagen / Coupé
        p.stats
          i.fa.fa-map-marker
          | 50.000 km | EZ 1999
        .price € 21.000

    li.table-view-cell.media
      img.media-object.pull-left(src="/demo/img/car-ferrari.jpg" width="100")
      .media-body
        | Ferrari 612 Scaglietti F1 Sportwagen / Coupé
        p.stats
          i.fa.fa-map-marker
          | 11.390 km | EZ 2010
        .price € 179.900

    li.table-view-cell.media.ad
      img.media-object.pull-left(src="/demo/img/nfs-game.png" width="80" style="margin: 0 20px 0 10px")
      .media-body
        | Need for Speed™ Most Wanted
        p.sponsored Sponsored
        a(href="https://play.google.com/store/apps/details?id=com.ea.games.nfs13_row" target="_blank")
          button.click See more
        .price € 4.49

    li.table-view-cell.media
      img.media-object.pull-left(src="/demo/img/car-porsche.jpg" width="100")
      .media-body
        | Porsche Panamera Turbo DSG Sportwagen / Coupé
        p.stats
          i.fa.fa-map-marker
          | 152 km | EZ 2014
        .price € 185.911

    li.table-view-cell.media
      img.media-object.pull-left(src="/demo/img/car-ferrari-ff.jpg" width="100")
      .media-body
        | Ferrari FF Sportwagen / Coupé
        p.stats
          i.fa.fa-map-marker
          | 10.446 km | EZ 2012
        .price € 297.000

    li.table-view-cell.media
      img.media-object.pull-left(src="/demo/img/car-mercedes.jpg" width="100")
      .media-body
        | Mercedes-Benz SLS AMG GT Sportwagen / Coupé
        p.stats
          i.fa.fa-map-marker
          | - | EZ 2014
        .price € 439.900
