header.bar.bar-nav
  h1.title Adefy Native Ads

.content
  .card
    ul.table-view
      li.table-view-cell
        a.navigate-right(href="/demo/car-listing.html" data-transition="slide-in") Car Listing

      li.table-view-cell
        a.navigate-right(href="/demo/people-listing.html" data-transition="slide-in") People Listing
