header.bar.bar-nav.red
  a.icon.icon-left-nav.pull-left(href="/demo", data-transition="slide-out")
  a.icon.icon-bars.pull-right
  h1.title Messages

.content#people-listing
  ul.table-view
    li.table-view-cell.media
      img.media-object.pull-left(src="/demo/img/drake-ramoray.jpg" width="64")
      .media-body
        | Drake Ramoray
        p.message How you doin'?

    li.table-view-cell.media
      img.media-object.pull-left(src="/demo/img/tyler-durden.jpg" width="64")
      .media-body
        | Tyler Durden
        p.message Rule number one...

    li.table-view-cell.media.ad
      img.media-object.pull-left(src="/demo/img/nfs-game.png" width="64")
      .media-body
        | Need for Speed™ Most Wanted
        p.sponsored Sponsored
        a(href="https://play.google.com/store/apps/details?id=com.ea.games.nfs13_row" target="_blank")
          button.click.red See more
        .price.red € 4.49

    li.table-view-cell.media
      img.media-object.pull-left(src="/demo/img/thomas-anderson.jpg" width="64")
      .media-body
        | Thomas Anderson
        p.message There is no spoon?

    li.table-view-cell.media
      img.media-object.pull-left(src="/demo/img/regina-fellange.jpg" width="64")
      .media-body
        | Regina Fellange
        p.message Smelly cat.. smelly cat..

    li.table-view-cell.media
      img.media-object.pull-left(src="/demo/img/gollum.jpg" width="64")
      .media-body
        | Gollum
        p.message My precious..
